<div class="span8 offset2 text-center unauthenticated-header">
  <%= image_tag "logo.png", class: "logo_welcome" %>

  <h1 class="heading-lead text-success"><%= t 'messages.welcome_to_arrive' %></h1>
  <h5 class='login-message'>Log in below to access the admin portal.</h5>

  <%= bootstrap_flash %>
</div>
