<div class="text-center">
 	<h2 class="heading-lead nightingale_name">@ <%= current_user.school_name %></h2>
</div>

<%= render_header_for :dashboard %>

<div class="text-center welcome_text">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet dui nec leo hendrerit eleifend in eu metus. Quisque et varius enim, ut ullamcorper nibh. Praesent aliquam, elit id interdum fermentum, sem lectus pellentesque enim, eget aliquet tellus augue eget eros. Nunc a bibendum diam. Donec ullamcorper adipiscing pellentesque. Cras vulputate ligula justo, eu dapibus tellus scelerisque eu. Aliquam tempus mauris sed ante venenatis tristique. Ut varius justo non ligula semper, non posuere dui commodo. Praesent interdum hendrerit massa, non commodo nunc malesuada ac. Etiam at hendrerit dui. Aliquam in fermentum neque, a congue nunc. Praesent augue lectus, euismod venenatis sodales sed, gravida a turpis. Nunc sit amet elementum risus, quis posuere sapien. Etiam sed ipsum elit.</p>

</div>

