<% active_page_is :dashboard %>



<div class="text-center welcome_text">
	<p>Hello, Nightingale Administrator!</p>
	<p>Welcome to the Arrive Admin Portal! Thank you for choosing our system.</p> <br>
<div class="text-left instructions_text">

	<p>This is where you will be able to control Arrive. Now that Arrive has been successfully installed in the school house, there are some important things that you need to do. In order for students to successfully check into their classes, they will need their accounts to be set up for them and their classes need to actually exist in the system. Please click on the User Management button and the User Management button above in order to add Nightingale users and classes to the datebase. You will have the choice to add these fields manually or in bulk by a CSV file spreadhsheet. After you have done that, you should be ready to go!</p> <br>
	<p>Please don't hesitate to contact any of the Arrive Co-Founders if you have any questions, concerns, or suggestions. Helping you out and solving your problems with Arrive are our top priority.</p> <br>

	<div class="text-center contact_text">

	<p>Alexandra Damley-Strnad   -   adamleystrnad@arriveapp.mobi</p>
	<p>Graciela Garcia   -   ggarcia@arriveapp.mobi</p>
	<p>Krystal Molina   -   kmolina@arriveapp.mobi</p>

</div>