form {
  label {
    font-weight: bold;
  }
}

form.sign-in {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.logo-header {
  text-align:center;
  margin-top: 20px;
  .logo {
    max-width: 240px;
  }
  .log-out-button {
  align: right;  }
  }