form {
  label {
    font-weight: bold;
  }
}

form.sign-in {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.logo-header {
  margin-top: 20px;
  margin-bottom: 40px;
  .logo {
    max-width: 500px;
  }
}