.logo-header {
  margin-top: 20px;
  margin-bottom: 20px;

  .logo {
    max-width: 240px;
  }
}

.settings {
  float: right;
}

.header-navigation {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}

.capitalize-text {
  text-transform: capitalize;
}

.school-name {
  color: #5bb75b;
  font-weight: bold;
}
