.settings {
  float: right;
  width: 225px;
}

.school-name {
  color: #5bb75b;
  font-weight: bold;
  padding: 5px;
}

.nav {
  margin-top: 20px !important;
  font-size: 17px;
}

.navbar {
  margin-bottom:20px;
}

.identification {
  margin-top: 29px;
  .logout_button {
    margin-top: -5px;
  }
}

.unauthenticated-header {
  margin-bottom: 10px;

  .logo_welcome {
    margin-top: 35px;
    margin-bottom: 10px;
    max-width: 500px;
  }
}


