<div class='text-center'>
  <%= link_to 'Dashboard', '/home', class: header_button_class(selected_button, :dashboard) %>
  <%= link_to 'Reports', '/reports/index', class: header_button_class(selected_button, :reports) %>
  <%= link_to 'User Management', '/users/index', class: header_button_class(selected_button, :user_management) %>
  <%= link_to 'Class Management', classes_path, class: header_button_class(selected_button, :class_management) %>
</div>